.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/__pycache__/*

face_detect/models/*
!face_detect/models/.keep

face_emotion/models/*
!face_emotion/models/.keep

face_features/models/*
!face_features/models/.keep

face_recognition/models/*
!face_recognition/models/.keep

face_recognition/images/*
!face_recognition/images/.keep
